@model SubscriptionModel
@using static FitnessFusion.Common.EntityValidationConstants.Subscription;

@{
    ViewData["Title"] = "Edit Subscription";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<form asp-controller="Subscription" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name" class="form-label-add-edit">Name</label>
        <input asp-for="@Model.Name" class="form-control" value="@Model.Name" minlength="@NameMinLength" maxlength="@NameMaxLength" required />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="@Model.Description">Description</label>
        <textarea id="description" name="Description" class="form-control" minlength="@DescriptionMinLength" maxlength="@DescriptionMaxLength" required>@Model.Description</textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Price">Price:</label>
        <input type="text" class="form-control" asp-for="Price" min="@PriceMinValue" step="1" max="@PriceMaxValue" required>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Image">Image:</label>
        <input type="file" class="form-control" asp-for="Image" accept="image/*" required>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label for="dificulty">Type of subscription</label>
        <select id="typeOfSubscription" name="TypeOfSubscription" class="form-control" required>
            <option value="@Model.TypeOfSubscription.ToString()">@Model.TypeOfSubscription</option>
            @foreach (var typeOfSubscription in Enum.GetValues(typeof(TypeOfSubscription)))
            {
                if (!string.Equals(typeOfSubscription.ToString(), @Model.TypeOfSubscription.ToString(), StringComparison.OrdinalIgnoreCase))
                {
                    <option value="@typeOfSubscription">@typeOfSubscription</option>
                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
