@model CaloriesCalculatorModel
@using static FitnessFusion.Common.EntityValidationConstants.CaloriesCalculator
@{
    ViewData["Title"] = "Calories Calculator";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
@if (string.IsNullOrEmpty(Model.CurrentCaloriesIntake))
{
    <form method="post" asp-action="Calculate" asp-controller="CaloriesCalculator" autocomplete="off">
        <div class="form-group">
            <label asp-for="Age">Age:</label>
            <input type="number" class="form-control" asp-for="Age" required min="@MinAgeValue" max="@MaxAgeValue">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Height">Height (cm):</label>
            <input type="number" class="form-control" asp-for="Height" required min="@MinHeightValue" step="0.01" max="@MaxHeightValue">
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Weight">Weight (kg):</label>
            <input type="number" class="form-control" asp-for="Weight" required min="@MinWeightValue" step="1" max="@MaxWeightValue">
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender">Gender:</label>
            <select class="form-control" asp-for="Gender" required>
                <option value="">Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActivityLevel">Activity Level:</label>
            <select class="form-control" asp-for="ActivityLevel" required>
                <option value="">Select activity level</option>
                <option value="Sedentary">Sedentary (little to no exercise)</option>
                <option value="LightlyActive">Lightly Active (light exercise/sports 1-3 days/week)</option>
                <option value="ModeratelyActive">Moderately Active (moderate exercise/sports 3-5 days/week)</option>
                <option value="VeryActive">Very Active (hard exercise/sports 6-7 days/week)</option>
                <option value="SuperActive">Super Active (very hard exercise/sports and a physical job)</option>
            </select>
            <span asp-validation-for="ActivityLevel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Goal">Goal:</label>
            <select class="form-control" asp-for="Goal" required>
                <option value="">Select your goal</option>
                <option value="LoseWeight">LoseWeight</option>
                <option value="GainWeight">GainWeight</option>
                <option value="MaintainWeight">MaintainWeight</option>
            </select>
            <span asp-validation-for="Goal" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
}
else
{
        <div class="result-container">
            <h3>Your daily calorie intake:</h3>
        <p>@Model.CurrentCaloriesIntake</p>
            <form method="get" asp-action="Calculate" asp-controller="CaloriesCalculator" autocomplete="off">
                <button type="submit" class="btn btn-primary">Calculate Again</button>
            </form>
        </div>
}