@model AddExerciseViewModel

@{
    ViewData["Title"] = "Add Exercise";
}

<h1>Add Exercise</h1>

<form method="post" action="/Exercise/Add">
    <div class="form-group">
        <label asp-for="@Model.Name" class="form-label-add-edit">Name</label>
        <input asp-for="@Model.Name" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description">Description</label>
        <textarea id="description" name="Description" class="form-control" required></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.VideoUrl">Video Link</label>
        <input type="text" id="videoUrl" name="videoUrl" class="form-control" required>
        <span asp-validation-for="@Model.VideoUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.MuscleGroup">Muscle Group</label>
        <select id="muscleGroup" name="MuscleGroup" class="form-control" required>
            <option value="">Select a muscle group</option>
            @foreach (var muscleGroup in Enum.GetValues(typeof(FitnessFusion.Data.Models.Enums.MuscleGroups)))
            {
                <option value="@muscleGroup">@muscleGroup</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Dificulty">Difficult Of Exercise</label>
        <select id="difficultyGroup" name="DifficultyGroup" class="form-control" required>
            <option value="">Select a diffucult of exercise</option>
            @foreach (var difficulty in Enum.GetValues(typeof(FitnessFusion.Data.Models.Enums.ExerciseLevelOfDificulty)))
            {
                <option value="@difficulty">@difficulty</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image:</label>
        <input type="file" class="form-control" asp-for="Image" accept="image/*" required>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Add Exercise</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}