@model AddExerciseViewModel
@using static FitnessFusion.Common.EntityValidationConstants.Exercise;

@{
    ViewData["Title"] = "Add Exercise";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Exercise" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name" class="form-label-add-edit">Name</label>
        <input asp-for="@Model.Name" class="form-control" minlength="@NameMinLength" maxlength="@NameMaxLength" required />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description">Description</label>
        <textarea id="description" name="Description" class="form-control" minlength="@DescriptionMinLength" maxlength="@DescriptionMaxLength" required ></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.VideoLink">Video Link</label>
        <textarea id="videoLink" name="VideoLink" class="form-control" minlength="@VideoUrlMinLength" maxlength="@VideoUrlMaxLength" required ></textarea>
        <span asp-validation-for="@Model.VideoLink" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.MuscleGroup">Muscle Group</label>
        <select id="muscleGroup" name="MuscleGroup" class="form-control" required>
            <option value="">Select a muscle group</option>
            @foreach (var muscleGroup in Enum.GetValues(typeof(MuscleGroups)))
            {
                <option value="@muscleGroup">@muscleGroup</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Dificulty">Difficult Of Exercise</label>
        <select id="difficultyGroup" name="DifficultyGroup" class="form-control" required>
            <option value="">Select a diffucult of exercise</option>
            @foreach (var difficulty in Enum.GetValues(typeof(ExerciseLevelOfDificulty)))
            {
                <option value="@difficulty">@difficulty</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ImagePath">Image:</label>
        <input type="file" class="form-control" asp-for="ImagePath" accept="image/*" required>
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Add Exercise</button>
</form>
