@model IEnumerable<AllExercisesModel>
@inject IUserService UserService;
@{
    var isUserTrainer = await UserService.IsUserTrainer(User.GetId());
    var isAdmin = User.IsAdmin();
    ViewData["Title"] = "Exercise Examples";
}

<style>
    .card-img-top {
        max-width: 200px;
    }

    .exercise-item {
        margin-bottom: 20px;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px !important;
        margin-right: 150px;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="exercise-list">
    @foreach (var muscleGroup in Enum.GetValues(typeof(MuscleGroups)))
    {
        <h2>@muscleGroup</h2>

        <div class="row">
            @foreach (var exercise in Model.Where(e => e.MuscleGroup == muscleGroup.ToString()))
            {
                <div class="col-md-4 exercise-item">
                    <h4>@exercise.Name</h4>
                    <img src="/img/@exercise.ImagePath" class="card-img-top" alt="Exercise Image">
                    <div class="btn-container mt-3">
                        <a asp-controller="Exercise" asp-action="Details" asp-route-id="@exercise.Id" class="btn btn-primary">Details</a>
                        @if (isAdmin || isUserTrainer)
                        {
                            <a asp-controller="Exercise" asp-action="Edit" asp-route-id="@exercise.Id" class="btn btn-primary">Edit</a>
                            <form class="delete-form" asp-controller="Exercise" asp-action="Delete" asp-route-id="@exercise.Id">
                                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete exercise: @exercise.Name')" />
                            </form>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

@if (isAdmin || isUserTrainer)
{
    <div class="mt-4">
        <a asp-controller="Exercise" asp-action="Add" class="btn btn-primary">Add new exercise</a>
    </div>
}
