<link rel="stylesheet" type="text/css" href="~/css/trainingPlan.css">

@model ICollection<AllTrainingPlansModel>

@{
    string currentUserId = User.GetId().ToLower();
    ViewData["Title"] = "All Training Plans";
}

<h2>@ViewData["Title"]</h2>

<div class="training-plans-container">
    @foreach (var trainingPlan in Model)
    {
        <div class="training-plan">
            <img src="~/img/@trainingPlan.Image" alt="Plan Image">
            <div class="training-plan-details">
                <h3>@trainingPlan.Name</h3>
                <p>Trainer: @trainingPlan.Trainer</p>
                <div class="btn-group">
                    <a asp-controller="TrainingPlan" asp-action="Details" asp-route-id="@trainingPlan.Id" class="btn btn-primary">Details</a>
                    @if (trainingPlan.TrainerId.ToLower() == currentUserId)
                    {
                        <a asp-controller="TrainingPlan" asp-action="EditTrainingPlan" asp-route-id="@trainingPlan.Id" class="btn btn-warning">Edit</a>
                        <form class="delete-form" asp-controller="TrainingPlan" asp-action="DeleteTrainingPlan" asp-route-id="@trainingPlan.Id">
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this training plan: @trainingPlan.Name')" />
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>

<a asp-controller="TrainingPlan" asp-action="CreateTrainingPlan" class="btn btn-primary">Create new training plan</a>
