@model TrainingPlanModel
@using static FitnessFusion.Common.EntityValidationConstants.TrainingPlan;

@{
    ViewData["Title"] = "Add Training Plan";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="CreateTrainingPlan" asp-controller="TrainingPlan" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name" class="form-label-add-edit">Name</label>
        <input asp-for="@Model.Name" class="form-control" minlength="@NameMinLength" maxlength="@NameMaxLength" required />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Image">Image:</label>
        <input type="file" class="form-control" asp-for="@Model.Image" accept="image/*" required>
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
    </div>

    <h3>Added Exercises</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sets and Reps</th>
                <th>Muscle Group</th>
                <th>Video Link</th>
            </tr>
        </thead>
        <tbody id="addedExercisesTableBody">
            @foreach (var exercise in Model.AddedExercises!)
            {
                <tr>
                    <td>@exercise.Name</td>
                    <td>@exercise.Description</td>
                    <td>@exercise.VideoLink</td>
                    <td>@exercise.MuscleGroup</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="TrainingPlan" asp-action="AddExercise" class="btn btn-primary">Add Exercise</a>

    <button type="submit" class="btn btn-primary">Create Training Plan</button>
</form>