@model DetailsTrainingPlanModel

@{
    ViewData["Title"] = $"{Model.Name} Details";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>
<hr />
<h3 class="text-center mb-2">This is description about this plan</h3>
<p class="text-center mb-2">@Model.Description</p>
<h3>Exercises</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Muscle Group</th>
            <th>Video Link</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model.Exercises)
        {
            <tr>
                <td>@exercise.Name</td>
                <td>@exercise.Dificulty</td>
                <td>@exercise.MuscleGroup</td>
                <td>
                    <a href="@exercise.VideoLink" target="_blank" class="btn btn-primary">Watch video</a>
                </td>
                <td>@exercise.Description</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="TrainingPlan" asp-action="All" class="btn btn-primary">Back</a>