@model TrainingPlanModel
@{
    ViewData["Title"] = "Edit Training Plan";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<form asp-controller="TrainingPlan" asp-action="EditTrainingPlan" method="post" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="@Model.Name">Name:</label>
        <input class="form-control" asp-for="@Model.Name" minlength="2" maxlength="100" required />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Image">Image:</label>
        <input type="file" class="form-control" asp-for="@Model.Image" accept="image/*" required>
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
    </div>
    <br />
    <div class="form-actions">
        <a asp-controller="TrainingPlan" asp-action="AddExercise" class="btn btn-primary">Add Exercise</a>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Description</th>
            <th>Video Link</th>
            <th>Muscle group</th>
            <th>Edit Exercise</th>
            <th>Delete Exercise</th>
        </tr>
    </thead>
    <tbody id="addedExercisesTableBody">
        @foreach (var exercise in Model.AddedExercises)
        {
            <tr>
                <td>@exercise.Name</td>
                <td>@exercise.Dificulty</td>
                <td>@exercise.Description</td>
                <td>@exercise.VideoLink</td>
                <td>@exercise.MuscleGroup</td>
                <td>
                    <a asp-action="EditExercise" asp-controller="TrainingPlan" asp-route-id="@exercise.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <form class="delete-form" asp-controller="TrainingPlan" asp-action="DeleteExercise" asp-route-id="@exercise.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete exercise: @exercise.Name')" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="EditAndAddExistingExercise" asp-controller="TrainingPlan" method="post">
    <div class="">
        <select class="form-control mb-2 d-inline-block" id="alreadyCreatedExercises" name="exerciseKey" required>
            <option value="">Select an existing exercise</option>
            @foreach (var exercise in Model.AlreadyCreatedExercises)
            {
                <option value="@exercise.Key">@exercise.Value</option>
            }
        </select>
    </div>
    <input type="hidden" name="AlreadyCreatedExercises" value="" />

    <button type="submit" class="btn btn-primary">Add existing exercise</button>
</form>