@using static FitnessFusion.Common.EntityValidationConstants.TrainingPlan;
@model TrainingPlanViewModel
@{
    ViewData["Title"] = "Edit Training Plan";
}

<h1>@ViewData["Title"]</h1>

<div>
    <label asp-for="Name">Name:</label>
    <input asp-for="Name" minlength="@NameMinLength" maxlength="@NameMaxLength" required />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Image">Image:</label>
    <input type="file" class="form-control" asp-for="Image" accept="image/*" required>
    <span asp-validation-for="Image" class="text-danger"></span>
</div>

<h3>Added Exercises</h3>
<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Серии и повтерения</th>
            <th>Линк към видеото</th>
            <th>Мускулна група</th>
        </tr>
    </thead>
    <tbody id="addedExercisesTableBody">
        @foreach (var exercise in Model.AddedExercises)
        {
            <tr>
                <td>@exercise.Name</td>
                <td>@exercise.Description</td>
                <td>@exercise.VideoLink</td>
                <td>@exercise.MuscleGroup</td>
                <td>
                    <a asp-action="EditExercise" asp-controller="TrainingPlan" asp-route-id="@exercise.Id">Редактирай</a>
                </td>
                <td>
                    <form class="delete-form" asp-controller="TrainingPlan" asp-action="DeleteExercise" asp-route-id="@exercise.Id">
                        <input type="submit" value="Изтрий" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete meal: @exercise.Name')" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="TrainingPlan" asp-action="AddExercise" class="btn btn-primary">Add Exercise</a>

<a asp-controller="TrainingPlan" asp-action="EditTrainingPlan">Save Changes</a>
