@model TrainingPlanExercisesModel

@{
    ViewData["Title"] = "Edit Exercise";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<form asp-controller="TrainingPlan" asp-action="EditExercise" method="post">

    <div class="form-group">
        <label asp-for="@Model.Name" class="form-group">Name</label>
        <input asp-for="@Model.Name" class="form-control" required="true" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description">Description</label>
        <textarea id="description" name="Description" class="form-control" required>@Model.Description</textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image:</label>
        <input type="file" class="form-control" asp-for="Image" accept="image/*" required>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.VideoLink">Video Link</label>
        <textarea id="videoLink" name="VideoLink" class="form-control" required>@Model.Description</textarea>
        <span asp-validation-for="@Model.VideoLink" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="muscleGroup">Muscle Group</label>
        <select id="muscleGroup" name="MuscleGroup" class="form-control" required>
            <option value="@Model.MuscleGroup.ToString()">@Model.MuscleGroup</option>
            @foreach (var muscleGroup in Enum.GetValues(typeof(MuscleGroups)))
            {
                if (!string.Equals(muscleGroup.ToString(), @Model.MuscleGroup.ToString(), StringComparison.OrdinalIgnoreCase))
                {
                    <option value="@muscleGroup">@muscleGroup</option>
                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>