@model TrainingPlanViewModel
@{
    ViewData["Title"] = "Edit Training Plan";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="TrainingPlan" asp-action="EditTrainingPlan" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name">Name:</label>
        <input class="form-control" asp-for="@Model.Name" minlength="2" maxlength="100" required />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Image">Image:</label>
        <input type="file" class="form-control" asp-for="@Model.Image" accept="image/*" required>
        <span asp-validation-for="@Model.Image" class="text-danger"></span>
    </div>
    <br />
    <div class="form-actions">
        <a asp-controller="TrainingPlan" asp-action="AddExercise" class="btn btn-primary">Add Exercise</a>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sets and reps</th>
            <th>Video Link</th>
            <th>Muscle group</th>
            <th>Edit Exercise</th>
            <th>Delete Exercise</th>
        </tr>
    </thead>
    <tbody id="addedExercisesTableBody">
        @foreach (var exercise in Model.AddedExercises)
        {
            <tr>
                <td>@exercise.Name</td>
                <td>@exercise.Description</td>
                <td>@exercise.VideoLink</td>
                <td>@exercise.MuscleGroup</td>
                <td>
                    <a asp-action="EditExercise" asp-controller="TrainingPlan" asp-route-id="@exercise.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <form class="delete-form" asp-controller="TrainingPlan" asp-action="DeleteExercise" asp-route-id="@exercise.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete meal: @exercise.Name')" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
