@model AddMealViewModel
@using static FitnessFusion.Common.EntityValidationConstants.Meal

<h1>Add Meal</h1>

<form asp-controller="Meal" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name" class="form-label-add-edit">Name</label>
        <input asp-for="@Model.Name" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Image:</label>
        <input type="file" class="form-control" asp-for="ImageUrl" accept="image/*" required>
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Calories">Calories:</label>
        <input type="number" value="double" id="Calories" name="Calories" class="form-control" min="@CaloriesMinValue" max="@CaloriesMaxValue" step="any" />
        <span asp-validation-for="@Model.Calories" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="mealType">Meal Type:</label>
        <select class="form-control" id="mealType" name="mealType" required>
            <option value="">Select a meal type</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Snack">Snack</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}