@model AddMealModel
@using static FitnessFusion.Common.EntityValidationConstants.Meal;

@{
    ViewData["Title"] = "Edit Meal";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<form asp-controller="Meal" asp-action="Edit" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="Name" class="form-control" value="@Model.Name" required minlength="@NameMinLength" maxlength="@NameMaxLength" />
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Image:</label>
        <input type="file" class="form-control" asp-for="ImageUrl" accept="image/*" required>
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="calories">Calories</label>
        <input type="number" id="calories" name="Calories" class="form-control" value="@Model.Calories" min="@CaloriesMinValue" max="@CaloriesMaxValue" step="any" />
    </div>

    <div class="form-group">
        <label for="mealType">Meal Type:</label>
        <select class="form-control" id="mealType" name="mealType" required>
            <option value="@Model.MealType.ToString()">@Model.MealType</option>
            @foreach (var mealType in Enum.GetValues(typeof(MealType)))
            {
                if (!string.Equals(mealType.ToString(), @Model.MealType.ToString(), StringComparison.OrdinalIgnoreCase))
                {
                    <option value="@mealType">@mealType</option>
                }
            }
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
